/* body {
  background-image: linear-gradient(to top left, #ff9a9e, #fad0c4);
  text-align: center;
} */
table{
  width: 100%;
  background-color: #ff9a9e;
}
table th{
  border-bottom: 2px solid rgb(217, 255, 0);
  padding: 10px;
}
th{
color: rgb(71, 32, 246);
}
tr{
  background: linear-gradient(45deg, #ff0000, #00ff00);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  color: aliceblue;
}
td{
  border-bottom: 2px solid rgb(0, 255, 42);
}

#img{
  width: 40px;
  height: 40px;
}


@media screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(to top left, #ff9a9e, #fad0c4);
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    background-image: linear-gradient(to top left, #f00f16, #fad0c4);
  }
}

@media screen and (min-width: 1201px) {
  body {
    background-image: linear-gradient(to top left, #e6dad1, #dc390b);
  }
}
